/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Navigation bar */
.nav-item {
  text-align: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Button */

.btn-slide-red {
  color: #b51435;
  background: #FFF;
  padding: 3px 6px;
  margin: 3px;
  border: 3px solid #28a745;;
  font-weight: bold;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  box-shadow: inset 0 0 0 0 #b51435;
  -webkit-transition: all ease 1.2s;
  -moz-transition: all ease 1.2;
  transition: all ease 1.2;
}

.btn-slide-red:hover {
  box-shadow: inset 170px 0 0 0 #28a745;
  color: #fff;
}

.btn-signin-modal {
  padding: 3px 15px !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Home screen / Hero image */

.callout-container {
  background: url("../images/hero-img.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Callout */
.row-height {
  height: 33vh;
  justify-content: center;
}

.row-height-smaller{
  height: 25vh;
}

.row-height-dream {
  height: 11.5vh;
  color: #FFF;
  font-size: 4rem;
  justify-content: center;
}

.row-height-dream.big {
  font-size: 4rem;
  letter-spacing: 1.8rem;
  margin: 0;
  padding: 0;
}

.callout-smaller {
  max-width: 300px;
}

.h1-header {
  color: #FFF;
  text-align: center;
  font-size: 2.5rem;
  height: 10vh;
  margin: 10px 0px;
}

.p-header {
  color: #FFF;
  margin: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sticky socials */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 14px;
  transition: all 0.5s ease;
  color: white;
  font-size: 1.4rem;
  border-radius: 50%;
  margin-left: 5px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #4267B2;
  color: white;
}

.instagram {
  background: #8a3ab9;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
  
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About us */

.aboutus-container {
  margin-top: 100px;
}

.aboutus-p{
  margin-top: 50px;
}

#about-us{}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Testimonials */

.testemonials-container {
  margin-top: 100px;
}

.testimonial {
  margin-top: 50px;
}

#testimonials {
  margin: 5rem;
}

.hr-testimonial {}

.fa-star {
  color: goldenrod;
}

.fa-star-half-alt {
  color: goldenrod;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Classes */

.classes-container {
  margin-top: 100px;
}

.class-title {
  margin-top: 50px;
}

.classes-class {
  margin-top: 50px;
}



#classes {}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Timetable */

.schedule-container {
  margin-top: 100px;
}

.timetable-classes {
  margin-top: 50px;
}

#timetable {}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Contact form  */

.contact-container {
  margin-top: 100px;
}

#contact .contact-form-p {
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 10px;
}

::placeholder {
  font-style: italic;
  text-align: center;
}

#btn-contact {
  margin-bottom: 50px;
}

.text-muted-form {
  padding: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sign IN modal */
.modal-signin {
  text-align: center;
}

#signin-modal ::placeholder {
  text-align: center;
}

.text-muted-signin {
  margin: 10px 0px;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sign UP modal */

.modal-signup {
  text-align: center;
}

#signup-modal ::placeholder {
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer  */

.footer-container {
  background-color: #94001e;
  font-size: ;
  color: #FFF;
  padding: 25px;
}

.opening {
  text-align: left;
}

.logo {
  background: url("../images/logo/logo-small.png")  no-repeat center center;
  position: relative;
  text-align: center;
}

.location {
  text-align: right;
  align-items: flex-end;
}