/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Fonts */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
 }

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
 }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Section spacing */

.hr-container {
  width: 20vw;
  border: 4px solid #77b950;
  margin-top: 100px;
  margin-bottom: 100px;
 }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Navigation bar */
nav {
  background-color: #94001e;
}

.nav-item {
  text-align: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Button */

.btn-slide-red {
  color: #94001e;
  background: #FFF;
  padding: 3px 6px;
  margin: 3px;
  border: 3px solid #77b950;
  font-weight: bold;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  box-shadow: inset 0 0 0 0 #94001e; 
  -webkit-transition: all ease 1.2s;
  -moz-transition: all ease 1.2;
  transition: all ease 1.2;
}

.btn-slide-red:hover {
  box-shadow: inset 170px 0 0 0 #77b950;
  color: #fff;
}

.btn-signin-modal {
  padding: 3px 15px !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Home screen / Hero image */

.callout-container {
  background: url("../images/hero-img.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Callout */
.row-height {
  height: 33vh;
  justify-content: center;
}

.row-height-smaller{
  height: 20vh;
}

.row-height-dream {
  height: 9.1vh;
  color: #FFF;
  font-size: 3.8rem;
  justify-content: center;
}

.callout-smaller {
  max-width: 300px;
}

.h1-header {
  color: #FFF;
  text-align: center;
  font-size: 2.5rem;
  height: 10vh;
  margin: 10px 0px;
}

.p-header {
  color: #FFF;
  margin: 10px;
}

#home .row .dream-big {
  font-family: 'Abril Fatface', serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sticky socials */
/*
.social-buttons-side {
  position: fixed !important;
	z-index: 10000;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.social-buttons-side a {
  display: block;
  text-align: center;
  padding: 14px;
  transition: all 0.5s ease;
  color: white;
  font-size: 1rem;
  border-radius: 50%;

}

.social-buttons-side a:hover {
  background-color: #000;
}

#facebook-side {
  background: #4267B2;
  color: white;
}

#instagram-side {
  background: #8a3ab9;
  color: white;
}

#youtube-side {
  background: #bb0000;
  color: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About us */

.aboutus-container {
  margin-top: 100px;
}

.aboutus-p{
  margin-top: 50px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Testimonials */

.head-testimonials {
  margin-bottom: 40px;
}

#testimonials {
  margin: 5rem;
}

.hr-testimonial {}

.fa-star {
  color: goldenrod;
}

.fa-star-half-alt {
  color: goldenrod;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Classes */

.head-classes {
  margin-bottom: 40px;
}

.class-title {
  margin-bottom: 20px;
}

.classes-class {
}


@media screen and (max-width: 768px) {
.classes-container #classes .row .col-6 .class-title {
  padding: 30px;
  border-radius: 50%;
  background: #94001e;
  color: #FFF;
}
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Timetable */

.head-timetable {
  margin-bottom: 40px;
}

.timetable-classes {
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Contact form  */

.contact-container {
}

#contact .contact-form-p {
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 20px;
}

::placeholder {
  font-style: italic;
  text-align: center;
}

#btn-contact {
  margin-bottom: 50px;
}

.text-muted-form {
  padding: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sign IN modal */
.modal-signin {
  text-align: center;
}

#signin-modal ::placeholder {
  text-align: center;
}

.text-muted-signin {
  margin: 10px 0px;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sign UP modal */

.modal-signup {
  text-align: center;
}

#signup-modal ::placeholder {
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer  */

.footer-container {
  background-color: #94001e;
  font-size: ;
  color: #FFF;
  padding: 25px;
}

.opening {
  text-align: left;
}

#logo-footer {
  position: relative;
  text-align: center;
}

.location {
  text-align: right;
  align-items: flex-end;
}

#social-buttons-footer a {
  display: flex;
  text-align: center;
  padding: 14px;
  transition: all 0.5s ease;
  color: white;
  font-size: 4rem;
  border-radius: 50%;
  width: 30x;
  height: 30px;
  background: ;
  margin ;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#social-buttons-footer a:hover {
  background-color: #000;
}

#facebook-footer {
  background: #4267B2;
  color: white;
}

#instagram-footer {
  background: #8a3ab9;
  color: white;
}

#youtube-footer {
  background: #bb0000;
  color: white;
}